html, body, #map-canvas {
height: 100%;
margin: 0px;
padding: 0px
}
.keyword {
font-size: 13px;
color: #333;
vertical-align: text-bottom bottom;
font-weight: bold;
}
.description {
font-size: 11px;
color: #999;
text-align: right;
vertical-align: text-bottom bottom;
line-height: 16px;
float: right;
}
#search-bar {
position: absolute;
top: 5px;
z-index: 5;
}
#search-field {
width: 100%;
background-color: #fff;
border-right: 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
padding: 0 7px;
height: 34px;
vertical-align: top;
box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
}
#search-col {
padding-left: 25px;
padding-right: 0;
}
#search-btn {
width: 100%;
background-color: #4d90fe;
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
border: 0;
border-radius: 0 2px 2px 0;
box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.3);
text-align: center;
height: 34px;
vertical-align: top;
z-index: -1;
}
#btn-col {
padding-left: 0;
padding-right: 0;
}
#control-panel {
position: absolute;
top: 5px;
width: 80%;
left: 10%;
z-index: 5;
padding: 5px;
background: none;
border: none;
}
#panel-wrapper {
position: absolute;
bottom: 0;
width: 100%;
}
#chart-panel {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.3);
  width: 100%;
  height: 150px;
  vertical-align: bottom;
  z-index: 5;
}
#chart-div {
  height: 120px;
  width: 100%;
}
.btn {
vertical-align: bottom;
border-bottom: 0;
border-radius: 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
height: 34px;
box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
opacity: 1;
}
#btn-slide-up {
vertical-align: bottom;
background-color: #fff;
border-bottom: 0;
border-radius: 2px 2px 0 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
height: 34px;
box-shadow: 0px -2px 6px -2px rgba(0,0,0,0.3);
display: none;
}
#btn-slide-down {
vertical-align: bottom;
background-color: #fff;
border-bottom: 0;
border-radius: 2px 2px 0 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
height: 34px;
box-shadow: 0px -2px 6px -2px rgba(0,0,0,0.3);
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 2px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid transparent;
	font-weight: normal;
	background: #ECF0F1;
}
